.masterclass-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.pmc_heading {
  padding-top: 100px;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 2rem;
  position:relative;
  top:0;
}
.pmc-select{
  margin-top:10px;
}
.by-sece {
  color: rgb(38, 5, 91);
  font-weight: bold;
}
.read-more{
  display:block;
  /* width:100%; */
  align-self: flex-end;
  position:absolute;
  margin-left:20%;

}
.pmc-name{
  position:absolute;
  text-align: left;
  display: block;
  width: 80%;
  margin-left:20%;
  margin-bottom:20px;
  
}
.masterclass-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: min(800px, 80%);
  margin: 20px auto;
  background-color: black;
  background: linear-gradient(to right, #93eb40, #f7de4d);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 120px;
}
.masterclass-card::after {
  content: "";
  background: white;
  position: absolute;
  left: 0.5%;
  width: 99%;
  height: 95%;
  border-radius: 6px;
  padding: 20px;
  z-index: 1;
}
.masterclass-card > * {
  z-index: 2;
}
.person-img {
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border: 2px solid #8f7e32; /* Blue border */
  transform: translateX(-50%);
  /* position:absolute; */
}

.masterclass-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.masterclass-card button {
  margin-top: 10px;
  padding: 4px 8px;
  background: linear-gradient(to right, #93eb40, #f7de4d);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}
.company-logo {
  object-fit: contain;
  width: 20%;
  height: 70%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.large-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-button:hover {
  color: #ff0000;
}
@media only screen and (max-width: 500px) {
  .masterclass-card {
    height: 70px;
  }
  .person-img {
    height: 50px;
    width: 50px;
  }
  .masterclass-card::after {
    border-radius: 3px;
  }
}

.pmc_heading {
  padding-top: 20px; /* Decrease the padding */
}
.by-sece {
  margin-top: 10px; /* Adjust margin for the paragraph if needed */
}

@media only screen and (max-width: 350px) {
  .masterclass-card {
    height: 60px;
  }
  .person-img {
    height: 40px;
    width: 40px;
  }
}
