.team-page {
  width: 100%;
  height: 100%;
}

/* First section with background image */
.team-page__hero {
  /* background-image: url("../../assets/Member/Batch2k21-22.JPG"); */
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

.team-page__links {
  position: absolute;
  top: 20px;
  right: 20px;
}

.team-page__links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.team-page__links a:hover {
  text-decoration: underline;
}
.member-info{
  padding-top:6rem;
}
.member-name{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.member-por{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
/* .team-page__content {
  background-image: url("../../assets/about-bg.png");
  background-size: cover;
  background-position: top;
  padding: 40px 20px;
  text-align: center;
} */

/* .team-page__content h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.team-page__content p {
  font-size: 16px;
  line-height: 1.5;
} */

.team-page__footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
@media only screen and (max-width:850px){
  .member-info{
    padding-top:10rem;
  }
  .member-name{
    font-size: 3.125rem;
    line-height: 2.75rem;
    padding-top: 6rem;
    padding:1rem;
  }
  .member-por{
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding:1rem;
  }
}