.menu-button {
  position: fixed; /* Fixes the button's position relative to the viewport */
  top: 10px; /* Distance from the top of the viewport */
  left: 10px; /* Distance from the left of the viewport */
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-items: center;
  background-color: #422828; /* Background color of the button */
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.menu-line {
  width: 20px; /* Width of the lines */
  height: 3px; /* Thickness of the lines */
  background-color: rgb(188, 172, 172); /* Color of the lines */
  border-radius: 2px; /* Rounded corners for the lines */
}
