/* HomePage.css */

/* General styling */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  scroll-behavior: smooth;
}

/* Home Page */
.home-page {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the home page takes full width */
}


/* Hero Section */
.hero-section {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/home-page-purple.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  gap: 0;
  /* align-items: center; */
  flex-flow: row wrap;
  padding-left: 150px;
  box-sizing: border-box;
  overflow: clip;
}

.hero-content {
  width: 50%;
  display: flex;
  align-content: center;

  margin-right: -8%;
}
h1 {
  text-align: center;
  display: flex;
  align-content: center;
  box-sizing: border-box;
  padding-top: 30%;
}
.logo-hand {
  width: 50%;
  position: relative;
  right: -15%;

  transform: scale(1.4);

  /* margin-left:-10%; */
}
.hand {
  position: absolute;
  top: 17%;
  width: 100%;
  height: 50%;
  margin-top: 10%;
}
.logo {
  position: absolute;
  transform: scale(0.7);
  width: 100%;
  height: 40%;
  left: -10%;
  top: 16%;
}
img {
  max-height: 500px;
}
.scroll {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* margin:-150px; */
  transform: translate(-120px, 80%);
  position: relative;
  left: 0;
}
.social {
  justify-self: flex-start;
}
.social > * {
  display: inline-block;
  margin: 10px;
  transform: translateY(-50%);
}
.scroll > a {
  text-decoration: none;
  color: white;
  border-radius: 50%;
  background-color: #0d0d0c;
  transform: scale(2.5);
  width: 15px;
  height: 15px;
  margin: 0 auto;
  box-shadow: 0 1px 2px darkslategray;
  transition: transform 1s;
}
.scroll > a:hover {
  transform: translateY(-50%) scale(2.5);
}
.hero-section h1 {
  font-size: 3em;
  margin: 0;
}
.about-header{
  /* transform:translateY(-30%); */
  /* z-index:-1; */
}
.content-right{
  display: grid;
}
.content-right>p{
  justify-self: flex-end;
}
/* Content Section */

.button {
  background-color: #ff6347; /* Tomato color */
  color: white;
  padding: 10px 20px;
  border-radius: 25px; /* Rounded corners */
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #e53e43; /* Darker tomato color */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
/* Footer Section */

.sece-about-image{
  background-color: #e53e43;
  font-size: 10px;
}
.about-content{
  font-weight: bold;
  letter-spacing: 1px;
  border:solid 1px grey;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(64, 64, 64, 0.5);
}
.events-content{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border:solid 1px grey;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(64, 64, 64, 0.5);
}

.events-button{
  padding-left: 1rem;
  padding-right: 1rem;  
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-color: black;
  border:solid 1px;
  color: blue;
  font-weight: bolder;
  border-radius: 5rem;
}
.events-button:hover{
  border-color: white;
  border:solid 1px;
  color: white;
  background-color: rgb(48, 48, 62);
}
.nexus-event-content{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border:solid 1px grey;
  border-radius: 35px;
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(64, 64, 64, 0.5);
}
.event-btn-container{
  margin-top: 2rem;
}
.nexus-btn-container{
  margin-top: 2.5rem;
}
.nexus-button{
  padding-left: 1rem;
  padding-right: 1rem;  
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-color: black;
  border:solid 1px;
  color: blue;
  font-weight: bolder;
  border-radius: 5rem;
}
.nexus-button:hover{
  color: white;
  background-color: rgb(48, 48, 62);
}
.event-photo{
  border-radius: 75px;
  border: 1px;
  border-color:grey;
  border-style: solid;
  height: 30rem;
  width: 30rem;
  box-shadow: 0px 4px 8px rgba(64, 64, 64, 0.5);
}
.event-container{
  margin-top: 8rem;
}
.about-photo{
  border-radius: 75px;
  border: 1px;
  border-color:grey;
  border-style: solid;
  height: 30rem;
  width: 30rem;
  box-shadow: 0px 4px 8px rgba(64, 64, 64, 0.5);
}
.nexus-photo{
  border-radius: 75px;
  border: 1px;
  border-color:grey;
  border-style: solid;
  height: 30rem;
  width: 30rem;
  font-size: small;
  box-shadow: 0px 4px 8px rgba(64, 64, 64, 0.5);
}
#Nexus{
  margin-top: 8rem;
}