.sece-nav-logo{
    height:3.8rem;
}
.nav-main{
    background-color: black;
}
@media only screen and (max-width: 450px){
    #navbar{
        display: none;
    }
  }
/* @media only screen and (min-width: 1250px){
    #navbar{
        display: none;
    }
  } */
