/* NavigationDrawer.css */
.drawer-content {
  width: 250px;
  height: 100%;
  padding: 20px;
  background-color: black;
  color: white;
}

.menu-item {
  cursor: pointer;
}

.drawer-content .MuiListItem-root {
  margin: 10px 0;
}

.drawer-content .MuiListItemIcon-root {
  color: #F2CC65;
}
.list-item-text{
  font-size:1rem;
}

@media only screen and (max-width:850px){
  .list-item-text{
    font-size:2.5rem;
  }
  .list-item-icon{
   transform: scale(2);
   margin-left: 10%;
  }
}