.footer {
    background-color: #333;
    color: #fff;
    padding-top: 40px;
    text-align: center;
  }

  .pb-3{
    background-color: #333;
    padding-bottom: 0.75rem;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .footer-subtitle {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-email {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  /* .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  } */
  
  .social-footer{
    margin-top: 17px;
    display: flex;
    justify-content: center;
  }
  
  .social-footer a {
    margin: 0 10px;
    font-size: 1.5em;
  }
  
  /* .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 0.9em;
  } */
  