.event-card-carousel {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

body{
  zoom:1.2;
}
.custom-arrow {
  color: #f5d784;
  cursor: pointer;
  display:inline-block;
  z-index: 1;
  transition: color 0.3s ease;

}

/* .custom-prev {
  left: -00px;
}

.custom-next {
  right: -50px;
} */

.custom-arrow:hover {
  color: #f5d784;
}

.custom-arrow:active {
  color: #f5d784;
}
.custom-prev{
  /* margin-right:3rem; */
}
.custom-next{
  /* margin-left: 1rem; */
}
